/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

html, body {
  height: 100%; }

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 1900px; }

.block_liniya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  width: 100%;
  max-width: 1900px; }

.liniya {
  height: 75px;
  width: 100%;
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.zagolovok {
  padding: 20px;
  font-family: Caveat;
  font-size: 50px;
  color: blue;
  text-align: center;
  text-shadow: 1px 2px 1px #000;
  transition: all .2s;
}

.zagolovok:hover {
  transition: all .3s;
  font-size: 55px;
  color: #000080;
}

.block_foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 1;
  width: calc(100% / 3);
  width: 1200px;
  height: 100%;
  padding: 5px 0 30px 0;
  margin: 0 auto; }

.foto_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 10px; 
}

.f1 {
  display: flex;
  background-image: url(../img/11.jpg);
  background-repeat: no-repeat;
  height: 443px;
  width: 100%;
  border-radius: 8px;
  transition: all .2s;
  -webkit-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg); 
}

  .f1:hover {
    box-shadow: 4px 4px 10px 8px rgba(10, 17, 109, 1);
    transform: rotate(-9deg) scale(1.05);
    transition: all .2s;
  }

.foto_2 {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 10px; 
}

.f2 {
  display: flex;
  background-image: url(../img/22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 443px;
  transition: all .2s;
  width: 100%;
  border-radius: 8px; }

  .f2:hover {
    box-shadow: 4px 4px 10px 8px rgba(114, 184, 15, 1);
    transform: scale(1.05);
    transition: all .2s;
  }

.foto_3 {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 10px; }

.f3 {
  display: flex;
  background-image: url(../img/33.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 443px;
  width: 100%;
  border-radius: 8px;
  transition: all .2s;
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg); }

  .f3:hover {
    box-shadow: 4px 4px 10px 8px rgba(255, 0, 0, 1);
    transform: rotate(7deg) scale(1.05);
    transition: all .2s;
  }

.block_fon {
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(0, 0, 0, 0.2)), to(transparent));
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
  border: 0;
  height: 1px;
  margin: 2px 0 22px 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  margin-top: 40px;
  margin-bottom: 30px; }

.block_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 0 0;
  width: 100%;
  height: 50px; }

.text1 {
  display: flex;
  margin-left: 500px;
  width: 400px;
  height: 50px;
  font-family: Caveat;
  font-size: 40px;
  color: red;
  text-align: center;
  text-shadow: 1px 2px 1px #000;
  transition: all .5s;
}

.text1:hover {
  transition: all .5s;
  margin-left: 350px;
  font-size: 43px;
  color: #FF1493;
}

.block_secret {
  background-color: #fff;
  padding: 400px 55px 100px 800px;
  height: 600px; }

.secret {
  width: 200px;
  height: 50px;
  font-family: Caveat;
  color: transparent;
  font-size: 40px;
  text-align: right;
  transition: all .2s;
}

.secret:hover {
  font-family: Caveat;
  font-size: 40px;
  color: blue;
  text-align: right;
  text-shadow: 1px 2px 1px #000;
  transition: all .2s;
}
